/*----------
    reset
-----------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}

/*----------
    Header
-----------*/
header{
    height: 70px;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 40px;
}

header h1{
    display: inline-block;
    vertical-align: middle;
}

header .logo{
    vertical-align: middle;
}

/*---------------------
    Main Prima sezione
----------------------*/

main .container{
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding-left: 55px;
}

main .section-one{
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

main .button{
    margin-top: 12px;
    padding: 5px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: lightgray;
}

main .button-task{
    background-color: #45ABEA;
    width: 80px;
}

main .button-section{
    background-color: white;
    width: 100px;
}

/*---------------------
    Main Seconda sezione
----------------------*/
main .section-two{
    margin-top: 5px;
    padding-top: 35px;
    height: 500px;
}

main .downwards-triangle{
    font-size: 30px;
    position: relative;
    top: 15px;
}

main .to-do-title{
    display: inline-block;
}

main .circles{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    margin-top: 10px;
}

main .check{
    color: green;
    border: 1px solid green;
}

main .cross{
    color: red;
    border: 1px solid red;
}

main .do-name{
    position: relative;
    top: -19px;
    left: 28px;
}

main .tag{
    color: white;
    border-radius: 10px;
    padding: 4px 8px;
    font-size: 12px;
    margin-left: 10px;
}

main .editorial{
    background-color: #45ABEA;
}

main #goals{
    background-color: #9C72E4;
}

main #recruit{
    background-color: #64C0A9;
}

main #mobile{
    background-color: #F29E33;
}
